<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <!-- First include jquery js -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js/"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <!--Font family for custom fonts-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>

    <!--Custom Sheets/Scripts-->
    <link rel="stylesheet" href="/css/home.css"/>
    <script type="text/javascript" src="/js/registration-control.js"></script>

    <title>Reminder</title>
</head>

<body background="/image/background.jpg">
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="flip">
                <div class="card">
                    <div class="face front">
                        <div class="panel panel-default">
                            <form th:action="@{/home}" method="post">
                                <br/>
                                <h1 class="text-center">Reminder!</h1>
                                <br/>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="username"
                                           name="username" placeholder="Email"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password"
                                           name="password" placeholder="Password"/>
                                </div>
                                <input type="submit" class="form-control btn btn-square-toround btn-xl
                                        btn-bordered-primary"/>
                                <hr />
                                <p th:if="${param.error}" align="center"> Invalid username and password. Try again!</p>
                                <p th:if="${param.logout}"> You have been logged out.</p>
                                <p th:if="${param.success}"> You have been logged out.</p>
                                <hr/>
                                <p class="text-center">
                                    <a href="#" class="fliper-btn">Create new account?</a>
                                </p>
                            </form>
                        </div>
                    </div>
                    <div class="face back">
                        <div class="panel panel-default">
                            <form class="form-horizontal">
                                <br/>
                                <h1 class="text-center">Reminder!</h1>
                                <br/>
                                <label>Basic Information</label>
                                <input class="form-control" type="text" id="rName" placeholder="Full Name"/>
                                <input class="form-control" type="email" id="rEmail" placeholder="Email"/>
                                <label>Private Information</label>
                                <input class="form-control" type="password" id="rPassword" placeholder="Password"/>
                                <input class="form-control" type="password" id="rConfirmPassword" placeholder="Confirm Password"/>
                                <input class="form-control" type="number" id="rNumber" placeholder="Mobile Number"/>
                                <label for="rProvider">Service Provider (select one):</label>
                                <select class="form-control" id="rProvider">
                                    <option>Verizon</option>
                                    <option>Sprint</option>
                                    <option>ATT</option>
                                    <option>TMobile</option>
                                    <option>Virgin Mobile</option>
                                </select>
                                <button id="rButton" class="form-control btn btn-square-toround btn-xl btn-bordered-primary"
                                   onclick="handleRegistration()">SIGN UP</button>
                                <p class="text-center">
                                    <a href="#" class="fliper-btn">Already have an account?</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

</div>
</body>
</html>