<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <!-- First include jquery js -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js/"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <!--Font family for custom fonts-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>

    <!--Custom Sheets/Scripts-->
    <link rel="stylesheet" href="/css/home.css"/>
    <script type="text/javascript" src="/js/registration-control.js"></script>

    <title>Reminder</title>
</head>

<body background="/image/background.jpg">
<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">
    <form th:action="@{/home}" method="post" class="form-signin">
        <h1 class="form-signin-heading text-muted">Reminder</h1>
        <div class="form-group">
            <input type="text" class="form-control" id="username"
                   name="username" placeholder="Email"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password"
                   name="password" placeholder="Password"/>
        </div>
        <input type="submit" class="form-control btn btn-square-toround btn-xl
                                        btn-bordered-primary"/>

        <hr/>
        <p th:if="${param.error}" align="center"> Invalid username and password. Try again!</p>
        <p th:if="${param.logout}" align="center"> You have been logged out. <br/> Good Bye!</p>
        <!--<p th:if="${param.success}" align="center"> You have been logged out.</p>-->
        <hr/>

    </form>

</div>
</body>
</html>