<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/home-control.js"></script>
<title>test</title>

</head>

<body>
	<div>
		<div class="form-group">
			<label for="username" class="col-sm-3 control-label"> Email</label>
			<div class="col-sm-9">
				<input type="email" class="form-control" id="username"
					name="username" placeholder="Email"></input>
				<button id="validation" onclick="validateInput()">Valid?</button>
                <!--<label id="checkResult"></label>-->
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-3 control-label">
				Password</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="password"
					name="password" placeholder="Password"></input>
			</div>
		</div>
		<div class="form-group last">
			<div class="col-sm-offset-3 col-sm-9">
				<button type="button" id="myButton">Sign in</button>
				<script type="text/javascript">
    									document.getElementById("myButton").onclick = function () {
       										 location.href = "success";
   										 };
									</script>
			</div>
		</div>
	</div>
	<div class="panel-footer">
        <label>Not Registered?</label> <a href="/success" data-toggle="modal">Register
			here</a>
	</div>
    <div>
        <a href="/forgotPassword" data-toggle="modal">Forgot Password</a>
    </div>

</body>


</html>



