<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html style="" class=" js no-touch no-mobile no-phone no-tablet mobilegradea js no-touch no-mobile no-phone no-tablet mobilegradea"><!--<![endif]--><!-- Specific Page Data --><!-- End of Data --><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title>User Profile Form HTML Template - Responsive Multipurpose Admin Templates | Vendroid</title>
    <meta name="keywords" content="HTML5 Template, CSS3, All Purpose Admin Template, Vendroid"/>
    <meta name="description" content="User Profile Form - Responsive Admin HTML Template"/>
    <meta name="author" content="Venmond"/>
    
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.venmond.com/demo/vendroid/img/ico/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.venmond.com/demo/vendroid/img/ico/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.venmond.com/demo/vendroid/img/ico/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="http://www.venmond.com/demo/vendroid/img/ico/apple-touch-icon-57-precomposed.png"/>
    <link rel="shortcut icon" href="http://www.venmond.com/demo/vendroid/img/ico/favicon.png"/>
    
    
    <!-- CSS -->
       
    <!-- Bootstrap & FontAwesome & Entypo CSS -->
    <link href="/update/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/update/font-awesome.css" rel="stylesheet" type="text/css"/>
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="css/font-awesome-ie7.min.css"/><![endif]-->
    <link href="/update/font-entypo.css" rel="stylesheet" type="text/css"/>

    <!-- Fonts CSS -->
    <link href="/update/fonts.css" rel="stylesheet" type="text/css"/>
               
    <!-- Plugin CSS -->
    <link href="/update/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="/update/prettyPhoto.css" rel="stylesheet" type="text/css"/>
    <link href="/update/isotope.css" rel="stylesheet" type="text/css"/>
    <link href="/update/jquery_003.css" media="screen" rel="stylesheet" type="text/css"/>
	<link href="/update/prettify.css" rel="stylesheet" type="text/css"/>
   
         
    <link href="/update/jquery_002.css" rel="stylesheet" type="text/css"/>
    <link href="/update/jquery.css" rel="stylesheet" type="text/css"/>
    <link href="/update/bootstrap-switch.css" rel="stylesheet" type="text/css"/>
    <link href="/update/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
    <link href="/update/bootstrap-timepicker.css" rel="stylesheet" type="text/css"/>
    <link href="/update/colorpicker.css" rel="stylesheet" type="text/css"/>

	<!-- Specific CSS -->
	    
     
    <!-- Theme CSS -->
    <link href="/update/theme.css" rel="stylesheet" type="text/css"/>
    <!--[if IE]> <link href="css/ie.css" rel="stylesheet" /> <![endif]-->
    <link href="/update/chrome.css" rel="stylesheet" type="text/chrome"/> <!-- chrome only css -->


        
    <!-- Responsive CSS -->
        	<link href="/update/theme-responsive.css" rel="stylesheet" type="text/css"/>

	  
 
 
    <!-- for specific page in style css -->
        
    <!-- for specific page responsive in style css -->
        
    
    <!-- Custom CSS -->
    <link href="/update/custom.css" rel="stylesheet" type="text/css"/>



    <!-- Head SCRIPTS -->
    <script type="text/javascript" async="" src="/update/ga.js"></script><script type="text/javascript" src="/update/modernizr.js"></script>
    <script type="text/javascript" src="/update/mobile-detect.js"></script>
    <script type="text/javascript" src="/update/mobile-detect-modernizr.js"></script>
 
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5shiv.js"></script>
      <script type="text/javascript" src="js/respond.min.js"></script>     
    <![endif]-->
    
</head>    
   
<body id="pages" class="full-layout  nav-right-hide nav-right-start-hide  nav-top-fixed      responsive    clearfix breakpoint-975" data-active="pages " data-smooth-scrolling="1">     
<div class="vd_body">

<div class="container"> <a id="hey"></a>
	<div class="row" align="center"> 
		<div class="submit-wrapper"> 
                               <a id="Yesupdate" href="#">UPDATE</a>   <a id="Noupdate" href="User home page.htm" style="margin-left:400px">CANCEL UPDATE</a>  
                               <br/><br/><br/>
		</div>
	</div>
</div>

<!-- Header Start -->
  
                        
    <!-- Middle Content Start -->
    
    <div class="vd_content-wrapper" style="min-height: 8px;">
      <div class="vd_container" style="min-height: 8px;">
        <div class="vd_content clearfix">
          
          <div class="vd_title-section clearfix">
           
          <div class="vd_content-section clearfix">
            <div class="row">
              <div class="col-sm-12">
                <div class="panel widget light-widget">
                  <div class="panel-heading no-title"> </div>
                  <form class="form-horizontal" action="#" role="form">
                    <div class="panel-body">
                      <h2 class="mgbt-xs-20" align="center"> PROFILE: <span class="font-semibold">Mariah Carayban</span> </h2>
                      <br/>
                      
                        <div class="col-sm-9">
                          <h3 class="mgbt-xs-15">Account Setting</h3>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9 controls">
                              <div class="row mgbt-xs-0">
                                <div class="col-xs-9">
                             <p>    : email@yourcompany.com   </p>
                                </div>
                                <!-- col-xs-12 -->
                                <div class="col-xs-2">
                                  
                                  <!-- btn-action col-sm-10 --> 
                                </div>
                              </div>
                              <!-- row --> 
                            </div>
                            <!-- col-sm-10 --> 
                          </div>
                          <!-- form-group -->
                          
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Username</label>
                            <div class="col-sm-9 controls">
                              <div class="row mgbt-xs-0">
                                <div class="col-xs-9">
                                 <p> : BHARAT@DON    </p>
                                </div>
                                <!-- col-xs-9 -->
                                <div class="col-xs-2">
                                 
                                  <!-- btn-action col-sm-10 --> 
                                  
                                </div>
                              </div>
                              <!-- row --> 
                            </div>
                            <!-- col-sm-10 --> 
                          </div>
                          <!-- form-group -->
                          
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9 controls">
                              <div class="row mgbt-xs-0">
                                <div class="col-xs-9">
                                  <input class="width-40" placeholder="password" type="password"/>
                                </div>
                                <!-- col-xs-12 --> 
                              </div>
                              <!-- row --> 
                            </div>
                            <!-- col-sm-10 --> 
                          </div>
                          <!-- form-group -->
                          
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Confirm Password</label>
                            <div class="col-sm-9 controls">
                              <div class="row mgbt-xs-0">
                                <div class="col-xs-9">
                                  <input class="width-40" placeholder="password" type="password"/>
                                </div>
                                <!-- col-xs-12 --> 
                              </div>
                              <!-- row --> 
                            </div>
                            <!-- col-sm-10 --> 
                          </div>
                          <!-- form-group -->
                          
                          <hr/>
                          <h3 class="mgbt-xs-15">Profile Setting</h3>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9 controls">
                              <div class="row mgbt-xs-0">
                                <div class="col-xs-9">
                                  <input placeholder="first name" type="text"/>
                                </div>
                                <!-- col-xs-9 -->
                                <div class="col-xs-2">
                                  
                                  <!-- btn-action col-sm-10 --> 
                                </div>
                              </div>
                              <!-- row --> 
                            </div>
                            <!-- col-sm-10 --> 
                          </div>
                          <!-- form-group -->
                          
                         
                          
                        
                          <!-- form-group -->
                          
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mobile Phone</label>
                            <div class="col-sm-9 controls">
                              <div class="row mgbt-xs-0">
                                <div class="col-xs-9">
                                  <input placeholder="mobile phone" type="text"/>
                                </div>
                                <!-- col-xs-12 -->
                                <div class="col-xs-2">
                                  
                                  <!-- btn-action col-sm-10 --> 
                                </div>
                              </div>
                              <!-- row --> 
                            </div>
                            <!-- col-sm-10 --> 
                          </div>
                          <!-- form-group -->
                          
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Carrier</label>
                            <div class="col-sm-9 controls">
                              <div class="row mgbt-xs-0">
                                <div class="col-xs-9">
                                  <select class="width-40">
                                    <option selected="selected">T-Mobile</option>
                                    <option>AT&amp;T</option>
                                    <option>Sprint</option>
                                    <option>Verizon</option>
                                    <option>Virgin Mobile</option>
                                  </select>
                                </div>
                                <!-- col-xs-12 -->
                                <div class="col-xs-2">
                                  
                                  <!-- btn-action col-sm-10 --> 
                                </div>
                              </div>
                              <!-- row --> 
                            </div>
                            <!-- col-sm-10 --> 
                          </div>
                          <!-- form-group -->
                          
                         
                          <hr/>
                          <h3 class="mgbt-xs-15">Reminder Settings</h3>
                          
                          
                          <div class="form-group">
                            <label class="col-sm-3 control-label">How Many Days before you Want to be Reminded?</label>
                            <div class="col-sm-9 controls">
                              <div class="row mgbt-xs-0">
                                <div class="col-xs-9">
                                  <input placeholder="website" type="text"/>
                                </div>
                                <!-- col-xs-9 -->
                                <div class="col-xs-2">
                                  
                                  <!-- btn-action col-sm-10 --> 
                                </div>
                              </div>
                              <!-- row --> 
                            </div>
                            <!-- col-sm-10 --> 
                          </div>
                          <!-- form-group -->
                          
                          
                          
                        </div>
                        <!-- col-sm-12 --> 
                      </div>
                      <!-- row --> 
                      
                    </form></div>
                    <!-- panel-body -->
                    <div class="pd-20">
                      <button class="btn vd_btn vd_bg-green col-md-offset-3">Finish</button>
                    </div>
                  
                </div>
                <!-- Panel Widget --> 
              </div>
              <!-- col-sm-12--> 
            </div>
            <!-- row --> 
            
          </div>
          <!-- .vd_content-section --> 
          
        </div>
        <!-- .vd_content --> 
      </div>
      <!-- .vd_container --> 
    </div>
    <!-- .vd_content-wrapper --> 
    
    <!-- Middle Content End --> 
    
  </div>
  <!-- .container --> 
<!-- .content -->





<!-- Javascript =============================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script type="text/javascript" src="/update/jquery_002.js"></script>
<!--[if lt IE 9]>
  <script type="text/javascript" src="js/excanvas.js"></script>      
<![endif]-->
<script type="text/javascript" src="/update/bootstrap.js"></script>
<script type="text/javascript" src="/update/jquery-ui.js"></script>
<script type="text/javascript" src="/update/jquery_009.js"></script>

<script type="text/javascript" src="/update/caroufredsel.js"></script>
<script type="text/javascript" src="/update/plugins.js"></script>

<script type="text/javascript" src="/update/breakpoints.js"></script>
<script type="text/javascript" src="/update/jquery_005.js"></script>
<script type="text/javascript" src="/update/jquery_006.js"></script>

<script type="text/javascript" src="/update/jquery_003.js"></script>
<script type="text/javascript" src="/update/jquery_004.js"></script>
<script type="text/javascript" src="/update/bootstrap-switch.js"></script>
<script type="text/javascript" src="/update/jquery_008.js"></script>
<script type="text/javascript" src="/update/jquery_007.js"></script>

<script type="text/javascript" src="/update/theme.js"></script>
<script type="text/javascript" src="/update/custom.js"></script>
 
<!-- Specific Page Scripts Put Here -->

<script type="text/javascript" src="/update/jquery-ui.js"></script>


<script type="text/javascript" src="/update/jquery_010.js"></script>
<script type="text/javascript" src="/update/jquery.js"></script>
<script type="text/javascript" src="/update/jquery_016.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script type="text/javascript" src="/update/load-image.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script type="text/javascript" src="/update/canvas-to-blob.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script type="text/javascript" src="/update/jquery.js"></script>
<!-- The File Upload processing plugin -->
<script type="text/javascript" src="/update/jquery_013.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script type="text/javascript" src="/update/jquery_014.js"></script>
<!-- The File Upload audio preview plugin -->
<script type="text/javascript" src="/update/jquery_011.js"></script>
<!-- The File Upload video preview plugin -->
<script type="text/javascript" src="/update/jquery_017.js"></script>
<!-- The File Upload validation plugin -->
<script type="text/javascript" src="/update/jquery_015.js"></script>
<!-- The File Upload UI plugin -->
<script type="text/javascript" src="/update/jquery_012.js"></script>


<script type="text/javascript">
$(window).load(function() 
{
	"use strict";
	
	$( "#datepicker-normal" ).datepicker({ 
		dateFormat: 'dd M yy',
		changeMonth: true,
		changeYear: true
	
	});

})
</script>
</body></html>