<!DOCTYPE html>
<html>
<head>
    <!-- First include jquery js -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js/"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <!--Font family for custom fonts-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>

    <!--Custom Sheets/Scripts-->
    <link rel="stylesheet" href="/css/home.css"/>
    <script type="text/javascript" src="/js/registration-control.js"></script>

    <title>Verification</title>
</head>
<body background="/image/background.jpg">
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="flip">
                <div class="card">
                    <div class="face front">
                        <div class="panel panel-default">
                            <form>
                                <br/>
                                <h1 class="text-center">Reminder!</h1>
                                <br/>
                                <input id="verificationCode" class="form-control" maxlength="6" type="text"
                                       placeholder="Verification Code"/>
                                <button id="vSubmit" type="button"
                                        class="form-control btn btn-square-toround btn-xl btn-bordered-primary"
                                        onclick="checkCode()">Verify!
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</body>
</html>